langgraph
langchain-openai
langchain-core
python-dotenv
flask
pdfplumber
pdfminer.six
python-docx
pillow
pypdf
PyMuPDF
google-generativeai
openai
sqlalchemy
google-search-results
xhtml2pdf
reportlab
tiktoken